.error {
  font-size: 10px;
  color: tomato;
}

input.ng-invalid.ng-touched {
  border: 2px solid tomato;
}

footer .contacto {
  padding: 60px 0;
}

footer .contacto .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #3895ea;
  text-align: center;
}

footer .contacto .formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .contacto .formulario input[type="text"] {
  width: 80%;
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;
  margin: 2px;
}

footer .contacto .formulario .boton {
  width: 85%;
  margin: 0;
  background: #3895ea;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  cursor: pointer;
}

footer .contacto .formulario .boton:hover {
  background: #174fa8;
}
