<footer>
  <section class="contacto">
    <div class="contenedor">
      <h3 class="titulo">Formulario de Registro de Productos</h3>
      <form class="formulario" [formGroup]="formNewProduct" (ngSubmit)="onSubmit()">
        <div>
          <input type="text" formControlName="name" placeholder="Nombre...">
          <div class="error" *ngIf="formNewProduct.controls.name.errors && formNewProduct.controls.name.touched">El
            campo
            Nombre es requerido</div>
        </div>
        <div>
          <input type="text" formControlName="description" placeholder="Descripción...">
        </div>
        <div>
          <input type="text" formControlName="price" placeholder="Precio...">
          <div class="error" *ngIf="formNewProduct.controls.price.errors && formNewProduct.controls.price.touched">El
            campo
            Precio es requerido</div>
        </div>
        <div>
          <input type="text" formControlName="image" placeholder="Dirección de Imagen...">
        </div>
        <div>
          <input type="text" formControlName="discount" placeholder="Descuento...">
          <div class="error"
            *ngIf="formNewProduct.controls.discount.errors && formNewProduct.controls.discount.touched">
            El
            Descuento no debe ser mayor al 40%</div>
        </div>
        <input type="submit" value="Enviar" class="boton" [disabled]="!formNewProduct.valid">
      </form>
    </div>
  </section>
</footer>
