<header>
  <div class="contenedor">
    <nav class="menu">
      <a href="#">Acerca de</a>
      <a href="#">Productos</a>
      <a href="#">Contacto</a>
    </nav>

    <div class="contenedor-texto">
      <div class="texto">
        <h1 class="nombre">Coffe Bean</h1>
        <h2 class="profesion">Lleva el mejor café a tu casa</h2>
      </div>
    </div>
  </div>
</header>

<section class="main">
  <section class="acerca-de">
    <div class="contenedor">
      <div class="foto">
        <img src="./assets/foto2.png" width="115" height="115">
      </div>

    </div>
  </section>


</section>
