.contenedor {
  font-size: 18px;
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}

/*------------------ header --------------------*/
header {
  background: url("../../assets/bg2.png") #563625;
  background-repeat: no-repeat;
  background-position: center;
  // background-size: 500px;
  max-height: 400px;
}

header .menu {
  margin: 40px 0;
  text-align: right;
}

header .menu a {
  margin: 0 20px;
  color: #fff;
  padding-bottom: 9px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  font-size: 1em;
}

header .menu a:hover {
  border-bottom: 2px solid #fff;
}

header .contenedor-texto {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 70px 0;
}

header .contenedor-texto .texto {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  padding: 20px 60px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
  color: #fff;
  font-weight: 300;
  margin: 0;
}

header .contenedor-texto .texto .nombre {
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 50px;
}

header .contenedor-texto .texto .profesion {
  font-size: 25px;
  line-height: 25px;
}

/*--------------------------------- main ------------------------------*/
.main .contenedor {
  overflow: visible;
}

.main .acerca-de {
  text-align: center;
}

.main .acerca-de .foto {
  margin-top: -60px;
}

.main .acerca-de .foto img {
  vertical-align: top;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 2555, 0.6);
}

.main .acerca-de .texto {
  color: #5a5a5a;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  width: 80%;
  margin: 40px auto 60px auto;
}

.main .acerca-de .texto .titulo {
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 300;
  color: #dd820d;
  text-align: center;
}

.main .acerca-de .texto .bold {
  color: #3895ea;
  text-decoration: underline;
}
