<div class="container">
  <div class="menu">
    <button [routerLink]="['/new']">Agregar</button>
    <button [routerLink]="['/list']">Lista</button>
  </div>
  <app-banner></app-banner>
  <router-outlet></router-outlet>
</div>
