// Fuentes
$fuente_principal : 'Raleway', sans-serif;

// Tamaño de Media Queries
$telefono : 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #33C3F0;
$secundario:#741d51;
$terciario: #e44e52;
$gris: #f2f2f2;
$blanco: #FFFFFF;
