<!-- <div class="products">
  <div class="product" *ngFor="let product of products">
    <h4>{{ product.name }}</h4>
    <img [src]="product.image">
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.discount }}</p>
  </div>
</div> -->
<h1 class="encabezado centrado">Lista de Productos</h1>
  <div class="productos contenedor">
    <div class="producto" *ngFor="let product of products">
      <img class="imagen-producto" [src]="product.image">
      <div class="info-producto">
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <img src="assets/img/estrellas.png">
        <div class="precio">
          <p class="regular">{{ product.price }}</p>
          <p class="oferta">{{ product.discount }}</p>
        </div>
        <a href="#" class="boton" data-id="1">Detalle</a>
      </div>
    </div>

    <!--.product-->
  </div>
  <!--.products-->
