@import 'variables';
@import 'mixins';

/** Cursos **/
.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .producto {
      .imagen-producto {
          width: 100%;
      }
      flex: 0 1 calc(50% - 1rem);
      @include tablet() {
          flex: 0 1 calc(33% - 1rem);
      }
      @include desktop() {
          flex: 0 1 calc(25% - 1rem);
      }
      background-color: $blanco;
      margin-bottom: 1rem;
      border: 1px solid #e1e1e1;
      .info-producto {
          padding: 1rem 1rem;
          h4 {
              margin:0;
              font-size: 1.2rem;
          }
          .boton {
              @include boton($primario);
          }
          .precio {
              display: flex;
              justify-content: space-between;
              .oferta {
                  text-decoration: line-through;
                  font-size: 1.4rem;
                  font-weight: 700;
              }
          }
      }
  }
}
